h1{
	text-align: center;
	color: #4ee44e;
}
table {
	border-collapse: collapse;
	width: 50em;
	border: 1px solid #666;
	height: 400px;
	text-align: center;
	margin-left: 300px;	
}
thead {
	background: #ccc;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
}
tr:hover {
	background-color: transparent;
	color: inherit;
}
tr:nth-child(even) {
	background-color: #edf5ff;
}
th {
	font-weight: normal;
	text-align: center;
}
th, td {
	padding: 0.1em 1em;
}
