table{
    border: 1px solid cyan;
    border-collapse: collapse;
    width: 50%;
    height: 50%;
    margin: auto;
    overflow: auto;
    text-align: center;
  }
  
  tr, td{
    color: cyan;
    font-size: 30px;
    border: 1px dotted cyan;
    width: 50px;
    height: 50px;
  }
  
  tr:nth-child(even){
    background: #F0FFFF;
  }